body {
  --fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --monospace-fonts: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
body {
  display: flex;
  position: relative;
  min-width: 1024px;
  min-height: 720px;
  max-width: 100vw;
  margin: 0;
  font-family: var(--fonts);
  flex-direction: column;
  overflow-x: hidden;
}
a {
  color: #2196F3;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
code {
  display: inline-block;
  padding: 0 5px;
  font-family: var(--monospace-fonts);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}
.body {
  min-height: 100vh;
}
.header {
  display: flex;
  padding: 15px 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-size: 20px;
  align-items: center;
}
.header .header-left, .header .header-right {
  display: flex;
  align-items: center;
}
.header .header-right {
  margin-left: auto;
}
.header .icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  image-rendering: pixelated;
}
.navbar {
  display: flex;
  flex-grow: 1;
}
.navbar .spacer {
  margin: 0 10px;
}
h1, p {
  margin: 0;
  margin-bottom: 20px;
}
h1 {
  font-size: 34px;
  font-weight: 400;
}
p.inset {
  padding: 10px 20px;
  background-color: #EEE;
  border-radius: 3px;
  font-size: 13px;
}
input[type=text] {
  display: flex;
  border: 0;
  border-bottom: 2px solid;
  font-family: var(--fonts);
  line-height: 2;
  text-align: center;
  outline: none;
}
input[type=text]::-webkit-input-placeholder {
  color: #AAA;
}
input[type=text].center {
  font-size: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
input[type=submit] {
  background-color: transparent;
  font-family: var(--fonts);
  cursor: pointer;
  outline: none;
}
input[type=file] {
  position: absolute;
  height: 0;
  z-index: -1;
}
.button {
  display: inline-flex;
  padding: 10px 20px;
  border: 2px solid;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: #000;
  border-color: transparent;
  color: #FFF;
  text-decoration: none;
}
.button.primary {
  color: #673AB7;
}
.button.primary:hover {
  background-color: #673AB7;
  color: #FFF;
}
.content {
  width: 780px;
  padding-left: 30px;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input[type=text], .login-form a {
  margin-right: 15px;
}
.login-form input[type=text] {
  flex-grow: 1;
}
.secret {
  display: flex;
  margin-right: 20px;
  background-color: #000;
  font-family: var(--monospace-fonts);
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.secret > .value {
  color: #FFF;
  display: none;
}
.secret > .value.visible {
  display: block;
}
.bitcoin-balance {
  display: inline-flex;
  width: 300px;
  height: 100px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #EEE;
  color: #000;
  font-size: 16px;
  flex-direction: column;
  box-sizing: border-box;
}
.bitcoin-balance:hover {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}
.bitcoin-balance .value {
  display: flex;
  font-size: 30px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.bitcoin-balance .label {
  margin-left: auto;
  font-weight: 600;
}
.assets-grid {
  display: flex;
  flex-wrap: wrap;
}
.assets-grid .asset {
  display: inline-flex;
  width: 300px;
  height: 100px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #EEE;
  color: #000;
  font-size: 16px;
  flex-direction: column;
  box-sizing: border-box;
}
.assets-grid .asset:hover {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}
.assets-grid .asset .quantity {
  display: flex;
  margin-bottom: auto;
  font-size: 30px;
  // font-weight: 600;
  justify-content: center;
  align-items: center;
}
.assets-grid .asset .name {
  display: flex;
  margin-left: auto;
  font-size: 20px;
  font-weight: 600;
}
.private-key-button {
  width: 130px;
}
.send-form input[type=text] {
  margin-right: 15px;
  flex-grow: 1;
}
